@font-face {
    font-family: 'museo_sans500';
    src: url('museosans-500-webfont.eot');
    src: url('museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-500-webfont.woff') format('woff'),
         url('museosans-500-webfont.ttf') format('truetype'),
         url('museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500_italic';
    src: url('museosans-500italic-webfont.eot');
    src: url('museosans-500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-500italic-webfont.woff') format('woff'),
         url('museosans-500italic-webfont.ttf') format('truetype'),
         url('museosans-500italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('museosans-700-webfont.eot');
    src: url('museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-700-webfont.woff') format('woff'),
         url('museosans-700-webfont.ttf') format('truetype'),
         url('museosans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700_italic';
    src: url('museosans-700italic-webfont.eot');
    src: url('museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-700italic-webfont.woff') format('woff'),
         url('museosans-700italic-webfont.ttf') format('truetype'),
         url('museosans-700italic-webfont.svg#museo_sans700_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	font-family: 'museo_sans500';
	height: 100%;
	overflow: hidden;
}

.slides{
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.slides section {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.v-center {
	top: 50%;
	position: relative;
}

h1.presentation-frame {
	background: url(../img/moldura.png);
	background: url(../img/moldura.png);
	width: 365px;
	height: 298px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	padding: 70px;
	font-size: 32px;
	line-height: 32px;
	color: #5d6367;
	text-align: left;
	font-family: 'museo_sans700';
	margin: 0 auto 4%;
}

h1.presentation-frame small {
	color: #e5679f;
	font-size: 24px;
	letter-spacing: -0.35;
	font-weight: 500;
	font-family: 'museo_sans500';
	margin: 10px 0 0;
}

p.presentation-text {
	font-size: 20px;
	line-height: 34px;
	color: #000;
	color: rgba(0,0,0,0.75);
	padding: 0 25%;
	text-align: left;
	margin: 0 0 3%;
}

.dark-h2 {
	font-size: 60px;
	color: #000;
	color: rgba(0,0,0,0.65);
}

.we-want {
	width: 25%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 6% 5% 0;
}

.we-want h3 {
	font-family: 'museo_sans700';
	font-size: 36px;
	color: #78C253;
}

.we-want p {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	color: rgba(0,0,0,0.75);
	margin: 5% 0 0;
}

.we-want div {
	height: 180px;
}

div.we-done {
	text-align: left;
	margin: 10% 0 0;
}

p.we-done-presentation {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	color: rgba(0,0,0,0.75);
	float: left;
	width: 25%;
	vertical-align: top;
	margin: 0 0 0 18%;
}

p.we-done-data {
	font-family: 'museo_sans500';
	color: #78C253;
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	width: 44%;
	margin: 0 12% 3% 0;
}

.we-done-data strong {
	float: left;
	width: 41%;
	line-height: 100%;
	text-align: right;
	margin: -2% 5% 0 0;
}

p.question {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	color: rgba(0,0,0,0.75);
	width: 57%;
	margin: 6% auto 0;
	text-align: left;
}

a.question-button {
	display: inline-block;
	width: 15%;
	height: 60px;
	background: #000;
	background: rgba(0,0,0,0.60);
	margin: 5% 2% 0;
	line-height: 60px;
	font-size: 40px;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
}

strong.we-done-numbers {
	font-size: 67px;
}

strong.we-done-duration {
	font-size: 30px;
	margin: 0 5% 0 0;
}


h2.light-h2 {
	color: #fff;
	font-size: 60px;
}

h2.green-h2 {
	color: #78c253;
	font-size: 52px;
	margin: 0 0 2%;
}

p.subtitle {
	font-weight: 500;
	font-size: 24px;
	color: #000;
	color: rgba(0,0,0,0.75);
	padding: 1% 17%;
}

p.big-subtitle {
	font-size: 24px;
	color: #000;
	color: rgba(0,0,0,0.85);
}

div.chapters {
	width: 80%;
	margin: 4% 10% 0;
}

figure.result-group {
	display: inline-block;
	width: 24%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	padding: 0 3%;
}

figure.result-group.last {
	margin: 0;
}

figcaption.perfil {
	color: #d8913d;
}

figcaption.financiamento {
	color: #6aaf71;
}

figcaption.rede {
	color: #cf6f50;
}

figcaption.realizadores {
	color: #70acb8;
}



.result-group figcaption {
	font-size: 22px;
	margin: 10% 0 0;
}

.result-group-page h3 {
	font-size: 36px;
	color: #fff;
	padding: 2% 0 0;
}

.result-group-page p {
	font-size: 24px;
	line-height: 36px;
	color: #000;
	color: rgba(0,0,0,0.75);
	padding: 4% 18% 0;
}

/*
	7
*/



/*
	8
*/
.regions {
	width: 70%;
	margin: 0 15% 0;
	position: absolute;
	top: 50%;
}

.regions-img {
	float: left;
	width: 50%;
}

.regions-text {
	width: 30%;
	float: left;
	text-align: left;
	margin: 0 0 0 10%;
}

.regions-text h3 {
	font-size: 28px;
	color: #000;
	color: rgba(0,0,0,0.75);
	margin: 0 0 6%;
}

.regions-text p {
	padding: 0;
	font-size: 14px;
	line-height: 19px;
}

.regions-text .black-subtitle {
	margin: 7% 0 0;
}

.regions-text .black-subtitle:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #000;
	margin: -3px 5px 0 0;
	vertical-align: middle;
}

.regions-text .white-subtitle {
	color: #fff;
	margin: 1% 0 5%;
}

.regions-text .white-subtitle:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	margin: -3px 5px 0 0;
	vertical-align: middle;
}

.source {
	font-size: 12px;
}



#gender {
	width: 66%;
	margin: 0 16% 0 18%;
	text-align: left;
}

#gender header {
	vertical-align: middle;
	border-bottom: 1px solid #fff;
	margin: 0 3% 4% 0;
	padding: 0 0 4%;
}

#gender-title {
	display: inline-block;
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
	width: 38%;
}

#gender-title img {
	margin: -6px 10px 0 0;
	vertical-align: middle;
}

p.gender-data {
	display: inline-block;
	padding: 0;
	font-size: 34px;
	width: 30%;
}

p.gender-data img {
	vertical-align: middle;
	margin: 0 10% 0 0;
}

div.gender-table {
	display: inline-block;
	width: 46%;
	vertical-align: top;
}

.gender-table:last-child {
	margin: 0 0 0 7%;
}

.gender-table h4 {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
	margin: 0 0 6%;
}

.gender-table img {
	margin: -6px 10px 0 0;
	vertical-align: middle;
}

img.gender-graph {
	width: 100%;
}




/*
	9
*/
#money {
	width: 70%;
	margin: 0 15%;
	text-align: left;
}

#money-title {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
	margin: 0 0 8%;
}

#money-title img {
	margin: -10px 10px 0 0;
	vertical-align: middle;
}

#money-image {
	border-bottom: 1px solid #fff;
	margin: 0 0 8%;
	padding: 0 0 8%;
}

#money-text {
	font-family: 'museo_sans500';
	font-size: 29px;
	display: inline-block;
	line-height: 1.2;
}

#money-text strong {
	float: left;
	color: #EA6E00;
	font-size: 76px;
	line-height: 1;
	margin: 0 2% 0 0;
}

/*
	10
*/
.occupation-title {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
	margin: 0 0 2%;
}

#occupation {
	margin: 4% 0 0;
}

#occupation li {
	list-style: none;
	display: inline-block;
	width: 60%;
	margin: 0 20% 1%;
	border-bottom: 1px solid #EF8400;
	position: relative;
	text-align: left;
}

#occupation p.item-1 { width: 99%; background: #EF8400; }
#occupation p.item-2 { width: 69%; background: #EF8400; }
#occupation p.item-3 { width: 56%; background: #EF8400; }
#occupation p.item-4 { width: 56%; background: #EF8400; }
#occupation p.item-5 { width: 50%; background: #EF8400; }
#occupation p.item-6 { width: 22%; background: #EF8400; }
#occupation p.item-7 { width: 22%; background: #EF8400; }
#occupation p.item-8 { width: 27%; background: #EF8400; }


#occupation p {
	font-family: 'museo_sans700';
	font-size: 24px;
	color: white;
	position: relative;
	display: inline-block;
	padding: 10px 5px;
	margin: 0;
}

#occupation p + p {
	position: absolute;
	font-size: 30px;
	color: rgba(0,0,0,0.90);
	top: 0;
	right: 0;
}

/*
	11
*/
#workarea {
	width: 70%;
	margin: 0 15%;
}

#workarea div {
	width: 37%;
	float: left;
	text-align: left;
}

#workarea div h3 {
	font-family: 'museo_sans700';
	font-size: 30px;
}

#workarea div p {
	margin: 10% 0 0;
	font-size: 22px;
	line-height: 27.5px;
}

#workarea ul {
	width: 55%;
	float: right;
}

#workarea li {
	list-style: none;
	display: inline-block;
	width: 100%;
}

#workarea li p {
	display: inline-block;
	width: 15%;
	text-align: right;
}

#workarea li p + p{
	width: 80%;
	text-align: left;
	color: white;
	margin: 0 0 0 1.5%;
}

#workarea li.item-1 { font-size: 30px;}
#workarea li.item-2 { font-size: 30px;}
#workarea li.item-3 { font-size: 30px;}
#workarea li.item-4 { font-size: 28px;}
#workarea li.item-5 { font-size: 24px;}
#workarea li.item-6 { font-size: 22px;}
#workarea li.item-7 { font-size: 22px;}
#workarea li.item-8 { font-size: 20px;}
#workarea li.item-9 { font-size: 18px;}
#workarea li.item-10 { font-size: 18px;}
#workarea li.item-11 { font-size: 16px;}
#workarea li.item-12 { font-size: 16px;}
#workarea li.item-13 { font-size: 16px;}
#workarea li.item-14 { font-size: 14px;}
#workarea li.item-15 { font-size: 14px;}
#workarea li.item-16 { font-size: 12px;}

/*
	12
*/
#time {
	width: 80%;
	margin: 0 10%;
	text-align: left;
}

#time-title {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
	margin: 0 0 3%;
}

#time-title img {
	margin: -10px 10px 0 0;
	vertical-align: middle;
}

#time-data-list {
	margin: 0;
	width: 100%;
}

#time-data-list li {
	background: #FFF;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	height: 170px;
	font-family: 'museo_sans700';
	padding: 20px 0 0 20px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#time-data-list p {
	padding: 0;
	font-size: 18px;
	width: 75px;
	line-height: 1.5;
	margin: 0 0 20px;
}

#time-data-list strong {
	color: #ED8947;
	font-size: 41px;
}

#time-data-01 {
	width: 12.6%;
}

#time-data-02 {
	width: 31.6%;
}

#time-data-03 {
	width: 14.6%;
}

#time-data-04 {
	width: 16.6%;
}

#time-data-05 {
	width: 22.6%;
}

.time-text:last-child {
	border-top: 1px solid #fff;
	padding-top: 3%;
}

p.time-text {
	font-family: 'museo_sans500';
	font-size: 21px;
	display: inline-block;
	line-height: 1.2;
	margin: 3% 17.5% 0;
	width: 65%;
	display: inline-block;
	padding: 0;
}

p.time-text strong {
	float: left;
	color: #fff;
	color: rgba(255,255,255,0.8);
	font-size: 56px;
	line-height: 1;
	margin: 0 2% 0 0;
}

/*
	14
*/

.habits {
	font-family: 'museo_sans700';
	font-size: 30px;
	color: #fff;
	margin: 0 0 5%;
}

/*
	15
*/
#information {
	width: 70%;
	margin: 0 15%;
	text-align: center;
}

#information-title {
	display: inline-block;
	padding: 0 0 3% 2%;
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
}


/*
	16
*/
p.disqus-text {
	padding-top: 1%;
}

#disqus_thread {
	width: 60%;
	background: #FFF;
	padding: 3%;
	margin: 2% 17% 0;
}

/*********************************** Bloco 2 **********************************************************************/
.financing {
	background: radial-gradient(circle, #99d8a9, #64c47d)
}

.financing h3 {
	font-size: 30px;
	padding: 2% 0 0;
}

.white-title {
	color: #fff;
}

.financing p {
	font-size: 24px;
	line-height: 36px;
	color: #000;
	color: rgba(0,0,0,0.75);
	padding: 1% 18% 0;
}

/*
	18
*/
.ballon {
	background: url("../img/financiamento/grafico-financiamento-2.png") center center no-repeat;
	width: 875px;
	height: 430px;
	margin: 2% auto 0;
}

.ballon p {
	font-family: 'museo_sans500';
	font-size: 24px;
	line-height: 36px;
	color: #000;
	color: rgba(0,0,0,0.75);
	margin: 0 0 3%;
	padding: 8% 12% 0;
}

.ballon a {
	color: white;
	font-family: 'museo_sans700';
	font-size: 14px;
	background: #66bc79;
	padding: 6px 12px;
}

/*
	19
*/
.supported {
	width: 70%;
	text-align: left;
	margin: 0 15%;
}

.supported h3 {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 24px;
	line-height: 28px;
	font-family: 'museo_sans700';
}

.supported .columns {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.supported .columns:first-child {
	margin: 0 9% 0 0;
}

.supported .columns:first-child ul {
	margin: 9% 0 0;
}

.supported ul {
	margin: 5% 0 0;
}

.supported li {
	position: relative;
	height: 40px;
	border-bottom: 1px solid white;
	margin: 0 0 1%;
}

.supported p {
	padding: 0;
	position: relative;
	line-height: 40px;
	left: 6px;
	font-size: 17px;
}

.supported span {
	position: absolute;
	right: 4px;
	top: 8px;
	font-size: 24px;
}

.supported [class^="item-"], .supported [class*=" item-"] {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	display: inline-block;
	height: 40px;
}

.supported .item-1 { width: 24%; }
.supported .item-2 { width: 33%; }
.supported .item-3 { width: 64%; }
.supported .item-4 { width: 100%; }
.supported .item-5 { width: 50%; }
.supported .item-6 { width: 100%; }
.supported .item-7 { width: 18%; }
.supported .item-8 { width: 9%; }
.supported .item-9 { width: 7%; }
/*
	20
*/
.project-type {
	margin: 5% auto 0;
	width: 50%;
}

.project-type li {
	margin: 0 0 3px;
	background: #4daf62;
	height: 72px;
	padding: 10px 0;
}

.project-type p {
	font-family: 'museo_sans700';
	font-size: 21px;
	color: white;
	text-align: left;
	padding: 0;
}

.project-type span {
	font-family: 'museo_sans700';
	display: inline-block;
	font-size: 50px;
	color: white;
	float: left;
	margin: 11px 21px;
}

/*
	21
*/
.projects-missing {
	font-size: 30px;
	line-height: 40px;
	margin: 4% auto 0;
	width: 60%;
	text-align: left;
	padding: 0;
}

/*
	22
*/
.interest-projects {
	width: 80%;
}

/*
	23
*/
.factors {
	width: 70%;
	margin: 4% auto 2%;
}

.factors li {
	width: 100%;
	display: inline-block;
}

.factors p {
	font-family: 'museo_sans700';
	font-size: 18px;
	color: #000;
	color: rgba(0,0,0,0.75);
	background: white;
	float: left;
	padding: 0 0 0 5px;
	text-align: left
}

.factors span {
	font-family: 'museo_sans700';
	font-size: 22px;
 	color: white;
	float: left;
	margin: 0 0 0 5px;
	line-height: 36px;
}

.factors .item-1 { width: 95%; }
.factors .item-2 { width: 80%; }
.factors .item-3 { width: 78%; }
.factors .item-4 { width: 54%; }
.factors .item-5 { width: 48%; }
.factors .item-6 { width: 46%; }
.factors .item-7 { width: 39%; }

.scale {
	font-family: 'museo_sans500';
	font-size: 14px;
	float: left;
	width: 70%;
	text-align: left;
	margin: 0 15%;
}



/*
	24
*/

/*********************************** Bloco 3 **********************************************************************/
.network  {
	background: radial-gradient(circle, #f19e8a, #ea6c4c);
}

.network h3 {
	font-size: 30px;
	padding: 2% 0 0;
}

.network p {
	font-size: 24px;
	line-height: 36px;
	color: #000;
	color: rgba(0,0,0,0.75);
	padding: 1% 18% 0;
}

/*36*/
<img src="img/rede/imagem-rede-balao.png" alt="">


/*
	Profile
*/
h3.profile-title {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 28px;
}

.profile-title img {
	margin: -10px 10px 0 0;
	vertical-align: middle;
}




/*
	11
*/

p.final-text {
	font-size: 20px;
	line-height: 34px;
	color: #000;
	color: rgba(0,0,0,0.90);
	padding: 0 18%;
	text-align: left;
	margin: 0 0 3%;
}

hr {
	width: 64%;
	margin: 0 auto 1%;
}

p.back-project {
	background: url(../img/coracao.png) top left no-repeat;
	padding: 0 0 0 20px;
	font-size: 18px;
	margin: 0 28%;
	line-height: 32px;
}


.back-project a {
	color: #73c261;
}

/* Mailchimp */
#mc_embed_signup {
	font-size: 18px;
	display: inline-block;
	margin: 0 auto 3%;
	width: 40%;
	position: relative;
	border: 1px solid #aaa;
	height: 46px;
	border-radius: 5px;
}

#mce-EMAIL {
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	padding: 12px;
	color: #888;
	border: none;
	border-radius: 3px 0 0 3px;
	outline: none;
}

#mc-embedded-subscribe {
	position: absolute;
	top: 0;
	right: 0;
	background: #73c261;
	text-transform: uppercase;
	border: none;
	border-radius: 0 3px 3px 0;
	height: 46px;
	width: 27%;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

/* navigation */
a.arrow-left {
	position: fixed;
	top: 50%;
	left: 20px;
	background: url(../img/seta-preta-left.png);
	height: 50px;
	width: 23px;
	text-indent: -9999px;
	margin: -25px 0 0;
}

a.arrow-left:hover {
	background: url(../img/seta-preta-left-big.png);
	height: 60px;
	width: 28px;
	margin: -30px 0 0;
}

a.arrow-right {
	position: fixed;
	top: 50%;
	right: 20px;
	background: url(../img/seta-preta-right.png);
	height: 50px;
	width: 23px;
	text-indent: -9999px;
	margin: -25px 0 0;
}

a.first-arrow {
	font-family: 'museo_sans700';
	font-size: 18px;
	color: #000;
	color: rgba(0,0,0,0.75);
	text-indent: -120px;
	text-decoration: none;
	line-height: 50px;
}

a.first-arrow:hover {
	line-height: 62px;
}

a.arrow-right:hover {
	background: url(../img/seta-preta-right-big.png);
	height: 60px;
	width: 28px;
	margin: -30px 0 0;
}


/* fixed */
.share {
	position: fixed;
	right: 0;
	bottom: 20px;
	z-index: 30;
}

.share ul {

}

.share li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.share li:first-child {
	margin: 0 30px 0 0;
}

.stamp {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 50px;
	height: 24px;
	z-index: 30;
	background: url(../img/moldura-menu.png) no-repeat;
	padding: 8px 0 0 45px;
}

.stamp a {
	color: #000;
	color: rgba(0,0,0,0.75);
	font-size: 16px;
	text-decoration: none;
}

/*
	backgrounds
*/
.bg-eeeeee {
	/* fallback */
  background-color: #eeeeee;

  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#eeeeee));
  background: -webkit-radial-gradient(circle, #1a82f7, #eeeeee);
  background: -moz-radial-gradient(circle, #1a82f7, #eeeeee);
  background: -ms-radial-gradient(circle, #1a82f7, #eeeeee);
}


