@font-face {
    font-family: 'museo_sans500';
    src: url('museosans-500-webfont.eot');
    src: url('museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-500-webfont.woff') format('woff'),
         url('museosans-500-webfont.ttf') format('truetype'),
         url('museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500_italic';
    src: url('museosans-500italic-webfont.eot');
    src: url('museosans-500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-500italic-webfont.woff') format('woff'),
         url('museosans-500italic-webfont.ttf') format('truetype'),
         url('museosans-500italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('museosans-700-webfont.eot');
    src: url('museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-700-webfont.woff') format('woff'),
         url('museosans-700-webfont.ttf') format('truetype'),
         url('museosans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700_italic';
    src: url('museosans-700italic-webfont.eot');
    src: url('museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans-700italic-webfont.woff') format('woff'),
         url('museosans-700italic-webfont.ttf') format('truetype'),
         url('museosans-700italic-webfont.svg#museo_sans700_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font-family: 'museo_sans500';
}

.slides section {
	box-sizing: border-box;
	padding: 20% 0;
}

h1.presentation-frame {
	background: url(../img/moldura.png);
	background: url(../img/moldura.png);
	width: 365px;
	height: 298px;
	box-sizing: border-box;
	padding: 70px;
	font-size: 32px;
	line-height: 32px;
	color: #5d6367;
	text-align: left;
	font-family: 'museo_sans700';
	margin: 0 auto 4%;
}

h1.presentation-frame small {
	color: #e5679f;
	font-size: 24px;
	letter-spacing: -0.35;
	font-weight: 500;
	font-family: 'museo_sans500';
	margin: 10px 0 0;
}

p.presentation-text {
	font-size: 20px;
	line-height: 34px;
	color: #000;
	color: rgba(0,0,0,0.90);
	padding: 0 25%;
	text-align: left;
	margin: 0 0 4%;
}

h2.dark-h2 {
	font-size: 60px;
	color: #000;
	color: rgba(0,0,0,0.85);
}

div.we-want {
	width: 25%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 6% 2% 0;
}

.we-want h3 {
	font-family: 'museo_sans700';
	font-size: 36px;
	color: #fff;
}

.we-want p {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	color: rgba(0,0,0,0.85);
	margin: 0 0 20%;
}

div.we-done {
	text-align: left;
	margin: 10% 0 0;
}

p.we-done-presentation {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	color: rgba(0,0,0,0.85);
	float: left;
	width: 33%;
	vertical-align: top;
	margin: 0 0 0 15%;
}

p.we-done-data {
	font-family: 'museo_sans700';
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	width: 44%;
	margin: 0 8% 2% 0;
}

.we-done-data strong {
	float: left;
	width: 41%;
	line-height: 100%;
	text-align: right;
	margin: -2% 5% 0 0;
}

p.question {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	color: rgba(0,0,0,0.85);
	width: 57%;
	margin: 6% auto 0;
	text-align: left;
}

a.question-button {
	display: inline-block;
	width: 15%;
	height: 60px;
	background: #000;
	background: rgba(0,0,0,0.60);
	margin: 5% 2% 0;
	line-height: 60px;
	font-size: 40px;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
}

strong.we-done-numbers {
	font-size: 67px;
}

strong.we-done-duration {
	font-size: 30px;
	margin: 0 5% 0 0;
}


h2.light-h2 {
	color: #fff;
	font-size: 60px;
}

h2.green-h2 {
	color: #78c253;
	font-size: 52px;
	margin: 0 0 3%;
}

p.subtitle {
	font-size: 24px;
	color: #000;
	color: rgba(0,0,0,0.85);
	padding: 0 15%;
}

p.big-subtitle {
	font-size: 24px;
	color: #000;
	color: rgba(0,0,0,0.85);
}

div.chapters {
	width: 80%;
	margin: 6% 10% 0;
}

figure.result-group {
	display: inline-block;
	width: 24%;
	box-sizing: border-box;
	padding: 0 3%;
}

figure.result-group.last {
	margin: 0;
}

.result-group figcaption {
	font-size: 22px;
	color: #fff;
	margin: 10% 0 0;
}

.result-group-page h3 {
	font-size: 36px;
	color: #fff;
	padding: 2% 0 0;
}

.result-group-page p {
	font-size: 24px;
	line-height: 36px;
	color: #000;
	color: rgba(0,0,0,0.85);
	padding: 5% 10% 0;
}

/* navigation */
a.arrow-left {
	position: fixed;
	top: 50%;
	left: 20px;
	background: url(../img/seta-preta-left.png);
	height: 50px;
	width: 23px;
	text-indent: -9999px;
	margin: -25px 0 0;
}

a.arrow-left:hover {
	background: url(../img/seta-verde-left.png);
	height: 60px;
	width: 28px;
	margin: -30px 0 0;
}

a.arrow-right {
	position: fixed;
	top: 50%;
	right: 20px;
	background: url(../img/seta-preta-right.png);
	height: 50px;
	width: 23px;
	text-indent: -9999px;
	margin: -25px 0 0;
}

a.arrow-right:hover {
	background: url(../img/seta-verde-right.png);
	height: 60px;
	width: 28px;
	margin: -30px 0 0;
}


/* fixed */
.reveal .share {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 110px;
	height: 110px;
	z-index: 30;
}

.share p {
	position: absolute;
	bottom: 0;
}

.share ul {
	display: none;
}

.share:hover ul {
	display: block;
	background: #fff;
	border: 1px solid #000;
	padding: 10px;
}

.share li {
	list-style: none
}

.reveal .stamp {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	z-index: 30;
	background: url(../img/seta-verde-right.png);
}